<body>
    <div class="container cp-5 align-x cmb-10">
        <h1> Account management panel </h1>
        <hr>

        <table class="table align-x">

            <tbody>
                {{#each users}}
                    <tr>
                        <td> photo </td>
                        <td>
                            <h3 class="ta-l"> {{first_name}} {{last_name}} </h3>
                            <p  class="ta-l">  {{role}}       </p>
                        </td>
                        <td>
                            <p  class="ta-l"> {{email}} </p>
                        </td>
                        <td> {{status}} </td>
                        <td>

                            <a href="/account-edition/{{id}}">
                                <button type="submit" class="form-accept-button w-1 cmy-1"> Edit </button>
                            </a>

                            <form action="/delete-user" method="POST">
                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit" class="form-accept-danger-button w-1 cmy-1"> Delete </button>
                            </form>
                        </td>
                    </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</body>